
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2; /* Set a higher z-index than SubNav */
    height: 32px;

    /* background-color: transparent;  */

    transition: background-color 0.5s ease; 
  }

 

  .navbar.transparent {
    background-color: transparent;
  }
  
  .navbar.solid {
    background-color: #e2d5d5; /* Change to your solid color */
  }

  .nav-links .active{
    color: #b85ee6;
  }
  
  .logo img {
    width: 100px; /* Adjust the width of the logo as needed */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
  }
/*   
  .nav-links a:hover {
    color: #25037a; 
  } */
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  .user-actions button {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .profile-btn {
    color: black;
    background: none;
    font-size: 25px;
    border: none;
    margin-top: 6px;
  }
  
  .login-btn {
    background-color: transparent;
    color: black;
    padding: 8px 30px;
    border: 2px solid black;
    border-radius: 25px;
  }
  
